{
  "openapi": "3.1.0",
  "info": {
    "title": "Huny API",
    "description": "Huny API는 현대적인 웹 애플리케이션과 모바일 앱을 위한 강력하고 안정적인 RESTful API 서비스입니다.",
    "version": "1.0.0",
    "contact": {
      "name": "Huny API 지원팀",
      "email": "support@huny.dev",
      "url": "https://docs.huny.dev"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.huny.dev/v1",
      "description": "프로덕션 서버"
    },
    {
      "url": "https://api-staging.huny.dev/v1",
      "description": "스테이징 서버"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/users": {
      "get": {
        "summary": "사용자 목록 조회",
        "description": "시스템에 등록된 모든 사용자 목록을 조회합니다. 페이지네이션, 필터링, 정렬 기능을 지원합니다.",
        "operationId": "listUsers",
        "tags": ["사용자"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "페이지 번호",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "페이지당 항목 수 (최대 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "사용자 상태로 필터링 (active, inactive, suspended)",
            "schema": {
              "type": "string",
              "enum": ["active", "inactive", "suspended"]
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "사용자 역할로 필터링",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "정렬 필드",
            "schema": {
              "type": "string",
              "enum": ["created_at", "updated_at", "name", "email"],
              "default": "created_at"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "정렬 순서",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공적으로 사용자 목록을 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "속도 제한 초과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "새 사용자 생성",
        "description": "시스템에 새로운 사용자를 등록합니다.",
        "operationId": "createUser",
        "tags": ["사용자"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "사용자가 성공적으로 생성됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "이미 존재하는 사용자",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "summary": "특정 사용자 조회",
        "description": "사용자 ID로 특정 사용자의 상세 정보를 조회합니다.",
        "operationId": "getUser",
        "tags": ["사용자"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "사용자 ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "사용자 정보 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "사용자 정보 업데이트",
        "description": "사용자의 전체 정보를 업데이트합니다.",
        "operationId": "updateUser",
        "tags": ["사용자"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "사용자 ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "사용자 정보가 성공적으로 업데이트됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "사용자 삭제",
        "description": "시스템에서 사용자를 삭제합니다. 이 작업은 되돌릴 수 없습니다.",
        "operationId": "deleteUser",
        "tags": ["사용자"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "사용자 ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "사용자가 성공적으로 삭제됨"
          },
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/resources": {
      "get": {
        "summary": "리소스 목록 조회",
        "description": "시스템에 등록된 모든 리소스 목록을 조회합니다.",
        "operationId": "listResources",
        "tags": ["리소스"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "페이지 번호",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "페이지당 항목 수",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "리소스 타입으로 필터링",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공적으로 리소스 목록을 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "새 리소스 생성",
        "description": "시스템에 새로운 리소스를 생성합니다.",
        "operationId": "createResource",
        "tags": ["리소스"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateResourceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "리소스가 성공적으로 생성됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/resources/{id}": {
      "get": {
        "summary": "특정 리소스 조회",
        "description": "리소스 ID로 특정 리소스의 상세 정보를 조회합니다.",
        "operationId": "getResource",
        "tags": ["리소스"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "리소스 ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "리소스 정보 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceResponse"
                }
              }
            }
          },
          "404": {
            "description": "리소스를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "리소스 업데이트",
        "description": "리소스의 전체 정보를 업데이트합니다.",
        "operationId": "updateResource",
        "tags": ["리소스"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "리소스 ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateResourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "리소스가 성공적으로 업데이트됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "리소스 삭제",
        "description": "시스템에서 리소스를 삭제합니다.",
        "operationId": "deleteResource",
        "tags": ["리소스"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "리소스 ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "리소스가 성공적으로 삭제됨"
          },
          "404": {
            "description": "리소스를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/user/webhook": {
      "post": {
        "summary": "사용자 이벤트 웹훅",
        "description": "사용자 관련 이벤트가 발생했을 때 호출되는 웹훅입니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserWebhookEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "웹훅 이벤트를 성공적으로 수신함"
          }
        }
      }
    },
    "/resource/webhook": {
      "post": {
        "summary": "리소스 이벤트 웹훅",
        "description": "리소스 관련 이벤트가 발생했을 때 호출되는 웹훅입니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceWebhookEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "웹훅 이벤트를 성공적으로 수신함"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "required": ["id", "email", "name", "created_at"],
        "properties": {
          "id": {
            "type": "string",
            "description": "사용자 고유 ID",
            "example": "usr_1234567890"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "사용자 이메일 주소",
            "example": "user@example.com"
          },
          "name": {
            "type": "string",
            "description": "사용자 이름",
            "example": "홍길동"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "suspended"],
            "description": "사용자 상태",
            "example": "active"
          },
          "role": {
            "type": "string",
            "description": "사용자 역할",
            "example": "user"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "생성 일시",
            "example": "2024-01-15T10:30:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "수정 일시",
            "example": "2024-01-15T10:30:00Z"
          }
        }
      },
      "CreateUserRequest": {
        "type": "object",
        "required": ["email", "name", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "사용자 이메일 주소",
            "example": "newuser@example.com"
          },
          "name": {
            "type": "string",
            "description": "사용자 이름",
            "example": "새 사용자"
          },
          "password": {
            "type": "string",
            "format": "password",
            "description": "사용자 비밀번호 (최소 8자)",
            "minLength": 8,
            "example": "secure_password_123"
          },
          "role": {
            "type": "string",
            "description": "사용자 역할",
            "default": "user",
            "example": "user"
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "사용자 이름",
            "example": "수정된 이름"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "suspended"],
            "description": "사용자 상태",
            "example": "active"
          },
          "role": {
            "type": "string",
            "description": "사용자 역할",
            "example": "admin"
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "UserListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "Resource": {
        "type": "object",
        "required": ["id", "name", "type", "created_at"],
        "properties": {
          "id": {
            "type": "string",
            "description": "리소스 고유 ID",
            "example": "res_1234567890"
          },
          "name": {
            "type": "string",
            "description": "리소스 이름",
            "example": "내 리소스"
          },
          "type": {
            "type": "string",
            "description": "리소스 타입",
            "example": "document"
          },
          "description": {
            "type": "string",
            "description": "리소스 설명",
            "example": "이것은 리소스에 대한 설명입니다."
          },
          "metadata": {
            "type": "object",
            "description": "추가 메타데이터",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "생성 일시",
            "example": "2024-01-15T10:30:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "수정 일시",
            "example": "2024-01-15T10:30:00Z"
          }
        }
      },
      "CreateResourceRequest": {
        "type": "object",
        "required": ["name", "type"],
        "properties": {
          "name": {
            "type": "string",
            "description": "리소스 이름",
            "example": "새 리소스"
          },
          "type": {
            "type": "string",
            "description": "리소스 타입",
            "example": "document"
          },
          "description": {
            "type": "string",
            "description": "리소스 설명",
            "example": "리소스에 대한 설명"
          },
          "metadata": {
            "type": "object",
            "description": "추가 메타데이터",
            "additionalProperties": true
          }
        }
      },
      "UpdateResourceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "리소스 이름",
            "example": "수정된 리소스 이름"
          },
          "description": {
            "type": "string",
            "description": "리소스 설명",
            "example": "수정된 설명"
          },
          "metadata": {
            "type": "object",
            "description": "추가 메타데이터",
            "additionalProperties": true
          }
        }
      },
      "ResourceResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Resource"
          }
        }
      },
      "ResourceListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "전체 항목 수",
            "example": 150
          },
          "page": {
            "type": "integer",
            "description": "현재 페이지 번호",
            "example": 1
          },
          "per_page": {
            "type": "integer",
            "description": "페이지당 항목 수",
            "example": 20
          },
          "total_pages": {
            "type": "integer",
            "description": "전체 페이지 수",
            "example": 8
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "format": "uri",
            "description": "첫 페이지 URL",
            "example": "https://api.huny.dev/v1/users?page=1"
          },
          "last": {
            "type": "string",
            "format": "uri",
            "description": "마지막 페이지 URL",
            "example": "https://api.huny.dev/v1/users?page=8"
          },
          "prev": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "이전 페이지 URL",
            "example": null
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "다음 페이지 URL",
            "example": "https://api.huny.dev/v1/users?page=2"
          }
        }
      },
      "UserWebhookEvent": {
        "type": "object",
        "required": ["event", "data"],
        "properties": {
          "event": {
            "type": "string",
            "enum": ["user.created", "user.updated", "user.deleted"],
            "description": "이벤트 타입",
            "example": "user.created"
          },
          "data": {
            "$ref": "#/components/schemas/User"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "이벤트 발생 시간",
            "example": "2024-01-15T10:30:00Z"
          }
        }
      },
      "ResourceWebhookEvent": {
        "type": "object",
        "required": ["event", "data"],
        "properties": {
          "event": {
            "type": "string",
            "enum": ["resource.created", "resource.updated", "resource.deleted"],
            "description": "이벤트 타입",
            "example": "resource.created"
          },
          "data": {
            "$ref": "#/components/schemas/Resource"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "이벤트 발생 시간",
            "example": "2024-01-15T10:30:00Z"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string",
                "description": "에러 코드",
                "example": "INVALID_REQUEST"
              },
              "message": {
                "type": "string",
                "description": "에러 메시지",
                "example": "요청 형식이 올바르지 않습니다."
              },
              "details": {
                "type": "object",
                "description": "추가 에러 상세 정보",
                "additionalProperties": true,
                "example": {
                  "field": "email",
                  "reason": "유효한 이메일 주소가 아닙니다."
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer 토큰을 사용한 인증. 헤더에 'Authorization: Bearer YOUR_API_KEY' 형식으로 포함하세요."
      }
    }
  }
}
